

ul li {
    background-color: black;
     width: 100%;
    list-style: none;

    
    box-shadow: 46px 98px 13px 0 rgba(0, 0, 0, 0.2), 15 6px 20px 15 rgba(0, 0, 0, 0.19);
    text-align: center;
  
    margin: auto;
    display: inline-block;
}
img {
  max-width: 100%;
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 5px;
    padding: 1px;
    font-size: 1.5em;
     display: inline-block;
}
ul li a:hover:not(.activo) {
    text-decoration: none;
    color: #FFFFFF;
    margin: 10px;
    background: rgb(0, 190, 253, 0.9);
    border-radius: 2em;
     display: inline-block;
}
ul li a.activo {
    text-decoration: none;
    color: #FFFFFF;
    margin: 10px;
    background: rgb(0, 190, 253, 0.9);
    border-radius: 2em;
     display: inline-block;
}



/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
 
  
  min-height: 400px;
 background-color: gray;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

/* Top Box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1rem 1rem;
  box-shadow: var(--shadow);
}

/* Info */
.info1 {
  position: center;
  width: 100%;
  height: 50%;
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}
.info {
  background: gray;
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 100px;

  padding: 3rem;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}



/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .info {
    grid-template-columns: 1fr;
  }
   .info1 {
    grid-template-columns: 1fr;
  }

  .info .btn .info1 {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }
}
.contenedor-galeria {
   max-width:100%;
    height: 70%;
    overflow: hidden;
    margin: 1px auto;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.35);
     display: inline-block;
}

.contenedor-galeria ul {
    width: 2000px;
     display: inline-block;
}

.contenedor-galeria li {
    position: relative;
    display: block;
    width: 100%;
    height: 70%;
    float: left;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
     display: inline-block;

}

.contenedor-galeria ul:hover li {
    width: 100%;
    filter: brightness(50%);
}

.contenedor-galeria ul li:hover {
    width: 100%;
    filter: brightness(100%);
}

.contenedor-galeria li img {
    display: block;
    width: 100%;
    height: 100%;
     display: inline-block;
}

.titulo-imagen {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    width: 100%;
    display: block;
    transition: all 0.5s ease;
    animation: cambia-color 10s linear infinite;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
    background-size: 400% 400%;
     display: inline-block;
}
